pkgbase = qemu-android-x86
	pkgdesc = Android-x86 environment via QEMU and VirGL
	pkgver = 7.1.r5
	pkgrel = 2
	url = http://www.android-x86.org/
	install = qemu-android-x86.install
	arch = x86_64
	license = Apache
	license = GPL2
	license = custom:Creative Commons 3.0 Attribution Unported
	makedepends = inkscape
	depends = rxvt-unicode
	depends = zenity
	depends = qemu
	depends = hicolor-icon-theme
	source = android-x86-7.1-r5.i686.rpm::https://osdn.net/frs/redir.php?m=rwthaachen&f=android-x86%2F67834%2Fandroid-x86-${_pkgver}.i686.rpm
	source = https://upload.wikimedia.org/wikipedia/commons/d/d7/Android_robot.svg
	source = qemu-android
	source = config
	source = qemu-android.desktop
	sha256sums = 9c21b07f29d1346c9956b789faede1624e8338773b8ba7d81c084afe26989dc2
	sha256sums = 8c80b881727efc8831c8ef53806e7c1d0427607e145aae09061c4870b6cd402f
	sha256sums = 53a777517016c0180870eaa6a73a2f909ef103ced7be63f9b449905c182b7774
	sha256sums = e9524cdb27c57e6650af763b2231d67ff3e2beb12f52133e7e95eda4f16b0881
	sha256sums = 8a5ed6a6c1a4dfd1c8af0ff5de48965ec2dc6b50f87e5f990d33c7025f63c8ec

pkgname = qemu-android-x86

